:root {
    --c-btn: #E1E1E6;
    --c-btn-hover: #d9d9dd;
    --c-btn-dark: #29292E;
    --c-btn-dark-hover: #3c3c42;
    --c-btn-selected: #02799D;
    --c-main: #323238;
    --font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--c-main);
    font-family: var(--font);
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    transform: translateY(-3rem);
}

button {
    cursor: pointer;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

.time.dark {
    color: white;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    transition: 200ms;
}

.actions button dark {
    color: white;
}

.actions button:hover {
    transform: scale(1.1);
}

.actions button img {
    width: 3rem;
}

.audio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.audio button, .theme {
    background-color: var(--c-btn);
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    transition: 300ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.audio button.dark {
    background-color: var(--c-btn-dark);
}

.audio button.dark:hover {
    background-color: var(--c-btn-dark-hover);
}

.audio button:hover {
    background-color: var(--c-btn-hover);
}

.selected {
    background-color: var(--c-btn-selected) !important;
}

.selected img {
    filter: invert(100%);
}

.theme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0)
}

.hide {
    display: none;
}

.slidebar {
    height: .3rem;
    width: 8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--c-main);
    position: relative;
}

.slide {
    width: 1rem;
    height: 1rem;
    background-color: var(--c-main);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: calc(70% - .5rem);
}

.slide.dark, .slidebar.dark {
    background-color: white;
}